<h1> Enter the battle </h1>
<p> Hello young players from another realm, please doth your hats and leave your names at the door</p>
<form action="/names" method= "post">
  <div>
    <label for="name1">Door 1:
    <input type="password" name="name1" value="Marmaduke"/>
    </label>
  </div>
  <div>
    <label for="name2">Door 2:
    <input type="password" name="name2" value="Eugene"/>
    </label>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <button type="submit">Raise your Gauntlets</button>
  </div>
 </form>
