<h1>On a cold morning in a distant land..</h1>

<div>
  <p>
    A cockerl crows
  <P>
    As the morning mists lift from the planes of Azeroth
    <%=@name1%> finds him/herself eye to eye with the stealy
    gaze of <%=@name2%>
   </p>
</div>

<div>
  <p><%=@name2%>: 100HP</p>
</div>
